phpDocumentor
debian/phpdocumentor
debian/debhelper-build-stamp  
debian/files  debian/changelog  
debian/phpdocumentor.debhelper.log  
debian/phpdocumentor.substvars  
/nbproject/private/
/debian/.debhelper/
/debian/files
.phpdoc/
/debian/tmp/
