#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION := $(shell ./gettag)

%:
	dh $@

override_dh_auto_clean:
	rm -rf phpDocumentor
	dh_auto_clean

override_dh_prep:
	rm -rfv phpDocumentor
	php -v | head -1 | awk '{print $$2}' | awk -F- '{print $$1}' | sed 's/v//'
	git clone --depth 1 --branch ${VERSION} https://github.com/phpDocumentor/phpDocumentor.git
	composer update --working-dir=phpDocumentor  --no-dev
	sed -i '/phpdoc.php/c\"bin": ["bin/phpdoc", "bin/phpdoc.php"],' phpDocumentor/composer.json
	sed -i '/cache/c  return sys_get_temp_dir()."/". basename(\$$this->getProjectDir())."/".\$$this->environment;' phpDocumentor/src/phpDocumentor/Kernel.php
	php -d phar.readonly=off /usr/bin/phar-composer -n build --ansi phpDocumentor
	dh_prep

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	mkdir -p debian/phpdocumentor/usr/bin
	mv phpdocumentor.phar	debian/phpdocumentor/usr/bin/phpdoc

#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo

