#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/phpdocumentor/usr/bin
	LATEST_VERSION=$$(curl -s https://api.github.com/repos/phpDocumentor/phpDocumentor/releases/latest | jq -r .tag_name); \
	LATEST_VERSION=$${LATEST_VERSION#v}; \
	wget -O debian/phpdocumentor/usr/bin/phpdoc "https://github.com/phpDocumentor/phpDocumentor/releases/download/v$${LATEST_VERSION}/phpDocumentor.phar"
	chmod +x debian/phpdocumentor/usr/bin/phpdoc

#	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/conf/composer.json

#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo

