#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION := $(shell ./gettag)

%:
	dh $@

override_dh_auto_clean:
	rm -rf phpDocumentor
	dh_auto_clean

override_dh_prep:
	rm -rfv phpDocumentor
	git clone --depth 1 --branch ${VERSION} https://github.com/phpDocumentor/phpDocumentor.git
	dh_prep

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	mkdir -p debian/phpdocumentor/usr/bin
	cp -r phpDocumentor/bin/phpdoc	debian/phpdocumentor/usr/bin
	mkdir -p debian/phpdocumentor/usr/share/phpdocumentor
	cp -r phpDocumentor/src/*	debian/phpdocumentor/usr/share/phpdocumentor
	cp -r phpDocumentor/incubator	debian/phpdocumentor/usr/share/phpdocumentor
	mkdir -p debian/phpdocumentor/usr/lib/phpdocumentor/
	cp phpDocumentor/composer.json  debian/phpdocumentor/usr/lib/phpdocumentor/composer.json
	sed -i 's/incubator/\/usr\/share\/phpdocumentor\/incubator'  debian/phpdocumentor/usr/lib/phpdocumentor/composer.json
	sed -i '/require/c require "/usr/share/phpdocumentor/phpDocumentor/AutoloaderLocator.php";' debian/phpdocumentor/usr/bin/phpdoc
	sed -i '/phpdoc.php/c\"bin": ["bin/phpdoc", "bin/phpdoc.php"],' phpDocumentor/composer.json
	sed -i '/src\/phpDocumentor/c\"phpDocumentor\\\\": [ "/usr/share/phpdocumentor/" ],' phpDocumentor/composer.json
	sed -i '/cache/c  return sys_get_temp_dir()."/". basename(\$$this->getProjectDir())."/".\$$this->environment;' phpDocumentor/src/phpDocumentor/Kernel.php
#	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/conf/composer.json


#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo

